
/* Common CSS */
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Menu start */
.menu-area {
    border-bottom: 2px solid #dddddd;
}

.menu-area ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-area ul li a {
    background-color: green;
    margin-right: 15px;
    color: #ffffff;
    padding: 10px 25px;
    display: inline-block;
}


/* services start */
.services {
    background-color: #c8d6e5;
    display: flex;
    flex-wrap: wrap;
}

.services .service-item {
    width: calc(33.3333333% - 20px);
    background-color: #00d2d3;
    margin-right: 20px;
    padding: 20px;
    box-sizing: border-box;
}

/* Technology start */
.technology-area {
    background-color: #c8d6e5;
    margin: 120px 0;
    padding: 120px 0;
}

.technology-area .container {
    background-color: rebeccapurple;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* justify-content: space-around; */
    justify-content: space-between;
}

.technology-area .container .tech-item {
    background-color: white;
    /* width: 200px; */
    width: calc((100% / 6) - 15px);
    /* margin: 0 15px 15px 0; */
    margin-bottom: 15px;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}

.technology-area .container .tech-item span {
    display: block;
}


