:root {
    --primary-color: #5965E7;
    --body-color: #3E4A65;
    --title-color: #0E1336;
    --primary-font: "Montserrat", sans-serif;
    --font-normal: 400;
    --font-bold: 700;
    --white-color: #fff;
    --transition: all ease .3s;
}

/* Common CSS */
body {
    font-family: var(--primary-font);
    color: var(--body-color);
    font-weight: var(--font-normal);
    margin-bottom: 100px;
    font-size: 16px;
    line-height: 26px;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-bold);
}

.text-primary {
    color: var(--primary-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.text-body {
    color: var(--body-color);
}

.btn-primary {
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 8px;
    transition: var(--transition);
    
    &:hover {
        box-shadow: 0 0 10px var(--primary-color);
    }

    i {
        font-size: 12px;
    }
}

.section-title {
    max-width: 620px;
    margin: 0 auto;

    h2 {
        margin-bottom: 20px;
        font-size: 36px;
        line-height: 46px;
    }
}

/* Heading */
.header {

    background-image: linear-gradient(to right, #CBD7EE, #DBDEFF);
    /* padding-bottom: 10px;
    padding-top: 30px; */
    padding: 30px 0 10px 0;

    .logo {
        img {
            max-width: 130px;
        }
    }

    .list {
        a {
            display: inline-block;
            margin: 0 6px;
            transition: var(--transition);

            &:hover {
                color: var(--primary-color);
                font-weight: var(--font-bold);
            }
        }

        

        ul li:first-child {
            a {
                color: var(--primary-color);
                font-weight: var(--font-bold);
            }
        }
    }

    .btn-area {
        a {
            font-size: 15px;
            font-weight: var(--font-bold);
            transition: var(--transition);
        }

        a:first-child {
            color: var(--title-color);
            margin-right: 15px;

            &:hover {
                color: var(--primary-color);
            }
        }

    }
}



/* hero start  */

.hero{


    .col{
        width: 55%;
    }

    .col-1{
        width: 45%;
    } 

    .content{
        h1{
            font-size: 48px;
            font-weight: var(--font-bold);
            line-height: 62px;
            max-width: 810px;

            u{
                color: var(--primary-color);
                display: block;
            }
        }

        p{
            font-size: 16px;
            line-height: 26px;
            font-weight: var(--font-normal);
            max-width: 550px;
            margin-top: 25px;
            margin-bottom: 30px;
        }
    }

    .image{
        img{
            width: 100%;
        }
    }
}

/* partner start  */
.partner{
    margin: 70px 0;
    

    .second-container{
        max-width: 940px;
        margin: 0 auto;
    }

    h5{
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        color: #0E1336;
        margin-bottom: 30px;
    }

    .item-container{
        gap: 15px;
    }

    .item{
         width: calc((100% / 5) - 15px);
         height: 128px;
          border: 1px solid #E5EDFF;
         border-radius: 8px;   
    }
}

/* discover start  */

.discover{
    background-color: #F5F9FF;
    padding: 50px 0;

    h2{
        text-align: center;
        font-size: 36px;
        font-weight: var(--font-bold);
        margin-bottom: 40px;

        span{
            color: var(--primary-color);
        }
    }

    .item-container{
        gap: 30px;
        .item{
            width: calc((100% / 3) - 30px);
            background-color: #ffffff; 
            border-radius: 10px;

            &:hover{
                box-shadow: 15px 15px 20px var(--primary-color);
            }
             .image{
                position: relative;
                img{
                    width: 100%;
                }

                p{
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    z-index: 10;
                    background-color: rgba(236, 228, 228, 0.5);
                    padding: 5px;
                    border-radius: 3px;
                    color: black;
                    
                }
             }

             .discover-content{
                padding: 15px 20px 20px 20px;

                h4{
                    font-size: 22px;
                    margin-bottom: 7px;
                }

                .item-row{
                    margin-bottom: 10px;
                    margin-top: 13px;
                   p{
                    color: var(--primary-color);

                    i{
                        margin-right: 5px;
                    }
                   } 
                }

                .progress{
                    height: 10px;
                    width: 100%;
                    display: block;
                    background-color: #F5F9FF;
                    border-radius: 10px;
                    position: relative;
                }

                .progress::before{
                    content: " ";
                    width: 70%;
                    height: 100%;
                    border-radius: 10px;
                    background-color: var(--primary-color);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                }

                .item-row-bottom{
                    p{
                        color: rgba(0, 0, 0, 0.8);
                        font-weight: var(--font-bold);
                    }
                }

                .discover-btn{
                   margin-top: 30px;
                   
                   a{
                    background-color: white;
                    color: var(--primary-color);
                    border: 1px solid #e7ecf5;

                    &:hover{
                      background-color: var(--primary-color);  
                      color: white;
                      border: none;
                    }
                   }
                }
             }
        }
    }

    .discover-btn-bottom{
        margin-top: 30px;
    }
}



.investor{
    padding: 80px 0;
    

    .item-container{
        margin-top: 40px;
        gap: 30px;
        .item{
            max-width: calc(100% /4);
            .image{
               width: 80px;
               height: 80px;
               padding: 3px;
               margin: 0 auto;
              border-radius: 50%;
              box-shadow: 0px 0px 20px 14px #DAE6FF;
              margin-bottom: 30px;
            }  

           
        }
         .item-two{
                margin-top: 40px;
            }
    }

    .content{
        
        h5{
            font-size: 20px;
            font-weight: var(--font-bold);
            margin-bottom: 10px;
        }

        p{
            font-size: 14px;
            line-height: 24px;
        }
    }

    .investor-btn{
       margin-top: 40px;

       .btn-two{
        background-color: white;
        color: black;
        border: 1px solid #D1DCF4;
        margin-left: 5px;
       }
    }
}


.customer{

    background-color: #F5F9FF;
    padding: 80px 0;
    h2{
        font-size: 36px;
        font-weight: var(--font-bold);


        span{
            color: var(--primary-color);
        }
    }

    .item-container{
        margin-top: 50px;
        gap: 40px;
        .item{
            max-width: calc(100% /2);
            background-color: #ffffff;
            border-radius: 12px;
            padding: 40px;
            padding-bottom: 0;

            .star{
                margin-bottom: 20px;
                i{
                    color: gold;
                }
            }

            p{
                font-size: 16px;
                max-width: 456px;
                line-height: 26px;
                margin-bottom: 20px;
            }

            .profile{
                gap: 20px;

                .image{
                    max-width: 50px;

                    img{
                        width: 100%;
                    }
                }

                h6{
                    font-size: 16px;
                    font-weight: var(--font-bold);
                }

                span{
                    font-size: 12px;
                    font-weight: var(--font-normal);
                }

            }

            .quote{
                i{
                    color: #F5F9FF;
                    font-size: 150px;
                }
            }


        }
       
    }

     .customer-btn{
            margin-top: 40px;
        }
}

.advantage {
    .advantage-content {
        padding-top: 50px;

        .d-flex {
           gap: 50px;
        }

        .advantage-item {
            padding: 20px;
            background: var(--white-color);
            border: 1px solid #E4EDFF;
            border-radius: 10px;
            box-shadow: 10px 28px 72px rgba(5, 84, 242, 0.10);

            .img {
                width: 65px;
                height: 65px;
                background-color: #E9EBFC;
                margin: 0 auto 15px;
                border-radius: 8px;

                img {
                    width: 35px;
                }
            }
        }
    }
}


/* Contact */
.contact {
    background-color: #F5F9FF;
    padding: 80px 0;
    margin-top: 80px;

    .d-flex {
        column-gap: 100px;
    }

    .w-50 {
        width: calc(50% - 15px);
    }

    .w-100 {
        width: 100%;
    }

    .section-title {
        margin-left: 0;
    }

    .contact-form {
        width: 70%;
        
        form {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            column-gap: 30px;
        }

        .form-control {
            margin-bottom: 20px;

            input[type="text"],
            input[type="email"],
            textarea {
                width: 100%;
                background-color: var(--white-color);
                border: 1px solid #DCE8FF;
                padding: 10px 15px;
                border-radius: 5px;

                &::placeholder {
                    color: rgba(62, 74, 101, .4)
                }
            }

            textarea {
                height: 120px;
            }

            
        }

        button {
            border: 0;
            text-transform: uppercase;
        }
    }

    .contact-info {
        width: 30%;
        padding: 20px 30px;
        border-radius: 15px;

        .info-title {
            border-bottom: 1px solid rgba(245, 249, 255, 0.5);
            padding-bottom: 15px;
            margin-bottom: 15px;

            h3 {
                font-size: 24px;
                color: white;
                margin-bottom: 10px;
            }
        }

        ul {
            li {
                display: flex;
                margin-bottom: 15px;

                .icon {
                    width: 50px;
                    height: 50px;
                    background-color: rgba(245, 249, 255, 0.5);
                    margin-right: 15px;
                    border-radius: 50%;

                    i {
                        font-size: 22px;
                    }
                }

                .text {
                    width: calc(100% - 65px);
                }
            }
        }
    }
}

