
/* This is medium devices */
@media (max-width: 992px) {
    .container {
        width: 720px;
    }

    .container .box {
        width: calc(100% / 2);
    }
}

/* This is small devices */
@media (max-width: 768px) {
    .container {
        width: 540px;
        margin-top: 50px;
    }

     h2 {
        font-size: 18px;
    }
}

/* This is extra small devices */
@media (max-width: 576px) {
    .container {
        width: 100%;
        margin-top: 20px;
    }

    .container .box {
        width: 100%;
    }

   
}