:root {
    --primary-color: #5965E7;
    --body-color: #3E4A65;
    --title-color: #0E1336;
    --primary-font: "Montserrat", sans-serif;
    --font-normal: 400;
    --font-bold: 700;
    --white-color: #fff;
    --transition: all ease .3s;
}

/* Common CSS */
body {
    font-family: var(--primary-font);
    color: var(--body-color);
    font-weight: var(--font-normal);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-bold);
}

.text-primary {
    color: var(--primary-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.text-body {
    color: var(--body-color);
}

.btn-primary {
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 8px;
    transition: var(--transition);
    
    &:hover {
        box-shadow: 0 0 10px var(--primary-color);
    }

    i {
        font-size: 12px;
    }
}

/* Heading */
.header {

    background-image: linear-gradient(to right, #CBD7EE, #DBDEFF);
    /* padding-bottom: 10px;
    padding-top: 30px; */
    padding: 30px 0 10px 0;

    .logo {
        img {
            max-width: 130px;
        }
    }

    .list {
        a {
            display: inline-block;
            margin: 0 6px;
            transition: var(--transition);

            &:hover {
                color: var(--primary-color);
                font-weight: var(--font-bold);
            }
        }

        

        ul li:first-child {
            a {
                color: var(--primary-color);
                font-weight: var(--font-bold);
            }
        }
    }

    .btn-area {
        a {
            font-size: 15px;
            font-weight: var(--font-bold);
            transition: var(--transition);
        }

        a:first-child {
            color: var(--title-color);
            margin-right: 15px;

            &:hover {
                color: var(--primary-color);
            }
        }

    }
}

/* hero start  */

.hero{


    .col{
        width: 55%;
    }

    .col-1{
        width: 45%;
    } 

    .content{
        h1{
            font-size: 48px;
            font-weight: var(--font-bold);
            line-height: 62px;
            max-width: 810px;

            u{
                color: var(--primary-color);
                display: block;
            }
        }

        p{
            font-size: 16px;
            line-height: 26px;
            font-weight: var(--font-normal);
            max-width: 550px;
            margin-top: 25px;
            margin-bottom: 30px;
        }
    }

    .image{
        img{
            width: 100%;
        }
    }
}

/* partner start  */
.partner{
    margin: 70px 0;
    

    .second-container{
        max-width: 940px;
        margin: 0 auto;
    }

    h5{
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        color: #0E1336;
        margin-bottom: 30px;
    }

    .item-container{
            gap: 15px;
    }

    .item{
         width: calc(100% / 5);
         height: 128px;
          border: 1px solid #E5EDFF;
         border-radius: 8px;   
    }
}



