@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
    --color-primary: #F8B602;
    --color-body: #9A999A;
}

/* Common CSS */
@layer base {
    body {
        background-color: #F2F2F2;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
}

/* Custom Component */
@layer components {
    .btn-custom {
        @apply p-3 bg-amber-600 rounded-2xl text-white uppercase inline-block
    }

    .center-box {
        @apply flex justify-center items-center;
    }
}

/* Custom helper class */
@layer utilities {
    .my-class {
        text-decoration: underline;
        font-style: italic;
    }
}


